@import '../../assets/variables';

.card {
  background-color: #ffffff;
  box-shadow: -6px 0px 20px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 20rem;
  min-height: 30rem;
  position: relative;
}

.cardImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 15rem;
  margin: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  &:hover {
    .link {
      display: flex;
    }
  }
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardTitle, .cardSubtitle {
  color: $grape;
  font-size: 1.1rem;
  margin: 0 2rem;
  text-align: center;
}

.cardSubtitle {
  margin-top: 0;
  font-size: .9rem;
}

.authors {
  text-align: center;
}

.cardPublisher {
  background-color: $hotpink;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  bottom: -10px;
  color: white;
  margin: 0;
  padding: .3rem;
  position: absolute;
  right: -10px;
  width: fit-content;
}


.link {
  display:none;
  color: white;
  text-align: center;
  font-size: 1rem;
  isolation: isolate;
  background-color: #9183a9;
  border-radius: 2px;
  padding: .3rem;
}

.grow { 
  transition: all .2s ease-in-out; 
}
.grow:hover { 
  transform: scale(1.1); 
}