@import './mixins';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cantata One', serif;
  margin: 0;
  padding: 0;
}

a, p, label, button {
  font-family: 'Imprima', sans-serif;
}

a {
  text-decoration: none;
}

#root {
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include for-tablet-landscape-up {
    padding: 3rem;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

   .placeholderImg {
    height: 16rem; 

    @include for-tablet-landscape-up {
      height: 30rem;
    }
  }
}